<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="JpegToMp4Lib_Jpeg" value="\\192.168.1.150\Recordings\cam1"/>
    <add key="JpegToMp4Lib_Queue" value="\\192.168.1.150\Recordings\cam1_queue"/>
    <add key="JpegToMp4Lib_Backup" value="\\192.168.1.150\Recordings\cam1_bkup"/>
    <add key="JpegToMp4Lib_Mp4" value="\\192.168.1.150\Recordings\cam1_mp4"/>
    <add key="JpegtoMp4Lib_Width" value="640"/>
    <add key="JpegtoMp4Lib_Height" value="480"/>
  </appSettings>
</configuration>
